<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bullet_journal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activities.SignUpActivity"
            android:label="@string/title_activity_signup"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.WalletActivity"
            android:label="@string/title_activity_wallet" />
        <activity android:name=".activities.AlbumActivity" />
        <activity android:name=".activities.RatingActivity"></activity>
        <activity
            android:name=".activities.DiaryActivity"
            android:label="@string/title_activity_diary"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".activities.MoodPreviewActivity" />
        <activity
            android:name=".activities.MoodTrackerActivity"
            android:label="@string/title_activity_mood_tracker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.HabitsActivity"
            android:label="@string/title_activity_habit_tracker" />
        <activity
            android:name=".activities.TasksAndEventsActivity"
            android:label="Tasks and Events" />
        <activity
            android:name=".activities.NewTaskEventActivity"
            android:label="Tasks and Events" />
        <activity
            android:name=".activities.AddReminderActivity"
            android:label="Reminder" />
        <activity
            android:name=".activities.EventActivity"
            android:label="Tasks and Events" />
        <activity android:name=".activities.TaskActivity" />
        <activity
            android:name=".activities.HabitActivity"
            android:label="@string/title_activity_habit_tracker" />
        <activity
            android:name=".activities.NewHabitActivity"
            android:label="@string/title_activity_habit_tracker" />
        <activity android:name=".RootActivity" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".helpClasses.AlertReceiver" />
    </application>

</manifest>